@import 'bootstrap/scss/bootstrap';

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.toto{
  background-color: rgb(red, green, blue);
}
@for $i from 1 through 100 {
  .w-#{$i}{
    width: percentage($number: calc($i / 100))
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
